################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
*.user
*.vspscc
*.dbmdl
*.suo
.vs/
*.log
*.pdb
secrets.json
aws-lambda-tools-defaults.json
.env
